<div id="btnfermer" >
    <button mat-button  (click)="onClick()"><mat-icon>close </mat-icon> </button> 
  </div>
<div class="Info"> 
    <h3> <b>Information Détaillés:</b> </h3>
    <h5>Titre de tache :<b> vhcxbcxgb </b></h5>
    <h5>Date Debut :<b>vhcxbcxgb</b></h5>
    <h5>Date de fin : <b>vhcxbcxgb</b></h5>
    <h5>Description:</h5> <p> <b>vhcxbcx hfg hxgfhfxg kfhgsl s lksqh jlksqhs ldkfhgslkgh
        s lksqh jlksqhs ldkfhgslkgh kghs lksqh jlksqhs ldkfhgslkghs lksqh jlksqhs ldkfhgslkgh
    </b></p>
</div>
