.mat-figure{ 
    padding:-10%;
}

.controles-container > * {
    width: 100%;
    }

    .controles-container2{
        width: 90%;
        padding-left: 5%;
        padding-top: -35%;
        
    } 
    .controles-container2 > * {
        width: 100%;
        } 
 
#btnfermer{
    width:7%;
    margin-left: 95% ;
    margin-top: -2% ;
   
}

.btnmanip{
    margin-left: 5%;
    margin-top: -5%;
}
#rest,#validation{
    margin-top: -2%;
    margin-left: 3%;
}
