<div id="btnfermer"> 
    <button class="btn-dialog-close"  mat-stroked-button (click)="onClick()" ><mat-icon>clear</mat-icon></button>
</div>

  <form [formGroup]="formTemplate"  class="normal-form">

   <mat-grid-list cols="2" >
    
    
    <mat-grid-tile>

          <div class="controles-container"> 
    
    
                  <mat-form-field>
                   <input matInput placeholder="Titre "  formControlName="titre">
                   </mat-form-field>
    
                    <mat-form-field>
                    <mat-select placeholder="Statut"  value="{{data.statut}}" formControlName="statut" >
                    
                    <ng-container >
                    <mat-option value="NPEC">NPEC</mat-option> <!-- la valeur par defaut qui va apporter par le nouveau objet lors de la création-->
                    <mat-option value="Encours">Encours</mat-option>
                    <mat-option value="Terminé">Terminé</mat-option>
                    <mat-option value="Retard">Retard</mat-option>
                    </ng-container>
                    </mat-select>
                    </mat-form-field>
    
    
                   
                    <mat-form-field appearance="fill">
                        <mat-label>Date début</mat-label>
                        <input matInput [matDatepicker]="picker" value="{{data.debut}}" formControlName="datedebut">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                     </mat-form-field>

    
                      <mat-form-field appearance="fill">
                        <mat-label>Date de Fin</mat-label>
                        <input matInput [matDatepicker]="picker2" value="{{data.fin}}" formControlName="dateecheance">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    

                     <mat-form-field>
                        <textarea matInput placeholder="Ecrivez une description*... "  formControlName="description" cdkTextareaAutosize
                          cdkAutosizeMinRows="5"  value="{{data.description}}"></textarea>
                      </mat-form-field>
                    
          </div>

          
    
            </mat-grid-tile>

    
              <mat-grid-tile>
                            
                          <img src="../../assets/images/todo.JPG" height="75%" width="90%">   
    
              </mat-grid-tile>

            
</mat-grid-list>



<button type="submit" class="btn btn-sm btn-success" id="validation" (click)="save(formTemplate.value)">Enregistrer </button>
 
<button type="reset" class="btn btn-sm btn-secondary" id="rest">Reset </button>    

  
    
</form>