
p{

    margin: auto;
    font-size: large;
}

  @media screen and (max-width: 575px) {
    .toolbar {
      visibility: hidden;
    }

  }


  table {
    width: 100%;
  }
  .mat-elevation-z8{width: 90%; margin-left:5%;margin-top: 4%;}
  
  .mat-form-field {
    font-size: 14px;
    width: 80%;
  }
  
  td, th {
    width: 15%;
  }
  
.btn{margin-right: 3px;}

  .controle{ margin-left:5%;margin-top:5%;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}


